.series-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.series-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.series-header h1 {
    font-size: 32px;
    font-weight: bold;
}

.series-header button {
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #FF4D4D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}